<div class="cartContainer">


<div id="itemsContainer">

<% if @cart.empty? %>
<div class ="spacerCartEmpty">
</div>
<h1>You have not yet added any items to the cart!</h1>
        <a href="/products" >
                        <h3 class="backToItemsPageButton">  To The Catalog! </h3>                        
        </a>
<% else %>

<h1>Your Cart!</h1>

<table id="customers">
<% total = 0 %>
<% @cart.each do |id, quantity| %>

<% item = Item.find_by_id(id) %>

<tr>
<td>
<div class="image">
    <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
</div>

</td>

<td class="title"><%= link_to item.title, item %></td>
<td><a href="/cart/remove/<%= item.id %>">Remove From Cart</a></td>
<td><a href="/cart/increase/<%= item.id %>">Increase</a></td>
<td><a href="/cart/decrease/<%= item.id %>">Decrease</a></td>
<td class="price"><%= number_to_currency(item.price, :unit =>"€") %></td>
<td class="quantity"><%= quantity %></td>
<td class="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
<td class ="total">Grand Total: <%= number_to_currency(total, :unit => "€") %> </td>
</tr>

<% total += quantity * item.price %>
<% end %>



</table>

<p>
</p>

<p>
<a href="/items" class="button">Continue Shopping</a>
<a href="/clearcart" class="button">Empty Cart</a>
<a href="/checkout" class="button">Checkout</a>
</p>

<% end %>



</div>
</div>
