<p id="notice"><%= notice %></p>

<div class="ordersContainer">

<div class= "ordersSpacer01">
</div>

<h1>Your Orders</h1>

<table class="tableOrders01">
  <thead>
    <tr>
      <th>Order date</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_date %></td>
        <td><%= order.user.email %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
         <% if user_signed_in? && current_user.admin? %>
              <td><%= link_to 'Edit', edit_order_path(order) %></td>
              <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<% if user_signed_in? && current_user.admin?  %>

<%= link_to 'New Order', new_order_path %>

<% end %>