<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hoffice </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag('//fonts.googleapis.com/css?family=Lobster') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header class="headSec">
       <a href="/">
          <h1>Hoffice</h1>  
        </a>
          <a href="/">
          <h2>"Work Remote in Style"</h2>   
       </a> 

               <%=render 'layouts/search'%> 

    </header>

    <div class = "navbar">
    <ul>
        <li><%= link_to "Home", "/"  %></li>
        
        <li><%= link_to "Items", "/products" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><a href="/cart" >Cart</a></li>
        <!--<li><%= link_to "View Cart", "/cart" %></li> -->


        <% if user_signed_in? %>
          <li><a href="#">Hi <%= current_user.email %></a></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <li><a href="/orders">View Orders</a></li>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
       
        <li>
        <a>
        Items in Cart:
        
          <%= session[:cart] %>
        
        </a>
        </li>



      </ul>
    

    </div>

    <div class="container">
    <%= yield %>
    </div>

<footer class="footer">

			<div class = "footermiddle">

		    	<div class = "footermiddleleft">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>

          <div class = "footermiddleright">            
            <h2> Where are we ? </h2> 
            <a href="https://www.google.ie/maps/place/Dublin"><h2>Location Here!</h2></a>
          </div>

			</div>



</footer>
  </body>
</html>

