<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | HOFFICE </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag('//fonts.googleapis.com/css?family=Sniglet') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="headSec">
      <h1>HOFFICE</h1>    
    </header>

    <div class = "navbar">
    <ul>
        <li><%= link_to "Home", "/"  %></li>
        
        <li><%= link_to "Items", "/products" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><a href="/cart" >Cart</a></li>
        <!--<li><%= link_to "View Cart", "/cart" %></li> -->

        <% if user_signed_in? %>
          <li><a href="#">Hi <%= current_user.email %></a></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <li><a href="/orders">View Orders</a></li>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>

       
      </ul>
      </div>

    <div class="container">
    <%= yield %>
    </div>

<footer class="footer">

			<div class = "footerleft">
			</div>
			
			<div class = "footermiddle">

		    	<div class = "footermiddleleft">
							    	<ul>
                          <li><%= link_to "Home", "/"  %></li>
                         <li><a href="/products">Items</a></li>
                         <li><%= link_to "Products", "/products" %></li>
                         <li><%= link_to "About", about_path %></li>
								    </ul>
          </div>

          <div class = "footermiddleright">
      				    	<ul>
                         <li><%= link_to "Help", help_path %></li>
                          <li><a href="/cart" >Cart</a></li>
                         <li><%= link_to "View Cart", "/cart" %></li>
                           <li><%= link_to "View Cart", "/cart" %></li>
								    </ul>
         </div>

			</div>
			
			<div class = "footerright">

		  </div>


</footer>
  </body>
</html>

